.header 
    {
    height:13vh;
    background-image:url("betongpark.jpg"); 
    }

.lankar 
	{
	background-color: #d6d1c2; 
	height: 40px;
	}

.lankar a 
	{
	color: #000000;
	float: left;
  	display: block;
  	text-align: center;
  	font-family: 'Noto Sans JP', sans-serif;
  	font-weight: bold;
  	padding:8px 42px;
  	text-decoration: none;
	}

.midcol 
	{
	clear: both;
	height: 66vh;
	background-position: center center;
	background-height:100%; width:auto; background-repeat: no-repeat
	}	

.footer 
	{
	background-color: #99004d; 
	height: 8vh; 
	clear: both;
	}


.innehall
	{
	margin-left:20%;background-color: #d6d1c2; 
	margin-right: 50%;
	box-shadow: 5 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:1em;
	}

h1 
	{
	color:#99004d;font-size:60px;
	font-family: 'Pacifico', cursive;
	text-align:center;
	}

a:hover
	{
	background-color: #555555
	}
 p  	
	{
	color: #2d00b3;
	font-family: 'Oswald';
    font-size: 20px;
	}