
body{margin: 0 auto;}

.huvud 
    {
    height:16vh;
    background-image:url("betongpark.jpg"); 
    background-position: left top;
    background-attachment: fixed;
    width:auto; background-repeat: no-repeat;
    color:#800000;font-size:65px;
	font-family: 'Pacifico', cursive;
	text-align: center;
    }

.lankar 
	{
	background-color: #d6d1c2; 
	height:40px;
	border: 1px solid #000000;

	}

.lankar a 
	{
	color: #000000;
	float: left;
  	display: block;
  	text-align: center;
  	font-family: 'Noto Sans JP', sans-serif;
  	font-weight: bold;
  	padding:8px 38px;
  	text-decoration: none;
	}

.midcol 
	{
	clear: both;
	height: 72vh;
	background-position: center center;
    width:100%; background-repeat: no-repeat;
	}	

.footer {
  		position: fixed;
  		background-color: #800000;
  		bottom: 0;
  		height:8vh;
  		width:100%;
  		border: 1px solid #000000;
  		}

.innehall
	{
	color: #2d00b3;
	font-family: 'Heebo', sans-serif;
    font-size: 13px;
	background-color: #d6d1c2;
	border-radius: 15px;
  	border: 1px solid #000000;
  	padding: 20px; 
	}

a:hover
	{
	background-color: #555555;
	}
 p  	
	{
    color: #2d00b3;
	font-family: 'Heebo', sans-serif;
    font-size: 15px;
	}

	h2 
	{
	color: #2d00b3;
	font-family: 'Heebo', sans-serif;
        font-size: 20px;
	}